

body {
    font-family: pingfang SC,helvetica neue,arial,hiragino sans gb,microsoft yahei ui,microsoft yahei,simsun,sans-serif!important;
    min-height: 100vh;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: #fff;
}

